.vscode/**
.vscode-test/**
.deepseek/**
.gitignore
.eslintrc.json
.eslintrc.js
src/**
node_modules/**
out/**
dist/**/*.map
esbuild.config.mjs
tsconfig.json
package-lock.json
.git/**
.github/**
**/*.ts
**/tsconfig.json
!.vscode/launch.json
!.vscode/tasks.json
